name: Sync to Gitee

on:
  push:
    branches:
      - main
    paths:
      - 'version.json'
      - '**.py'
      - '**.json'
      - '**.md'
      - '**.txt'
      - '**.bat'
      - '**.ps1'
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Sync to Gitee
        uses: wearerequired/git-mirror-action@master
        env:
          SSH_PRIVATE_KEY: ${{ secrets.GITEE_PRIVATE_KEY }}
        with:
          source-repo: git@github.com:asenyeroao-ct/CVM-colorBot.git
          destination-repo: git@gitee.com:asenyeroao-ct/CVM-colorBot.git

      - name: Build Gitee Pages
        uses: yanglbme/gitee-pages-action@main
        with:
          gitee-username: asenyeroao-ct
          gitee-password: ${{ secrets.GITEE_PASSWORD }}
          gitee-repo: asenyeroao-ct/CVM-colorBot
          branch: main
